*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/jarRepositories.xml
.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_1.xml
.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
